git+https://github.com/NVlabs/nvdiffrast.git
git+https://github.com/ashawkey/envlight.git
git+https://github.com/openai/CLIP.git

torch_efficient_distloss==0.1.3
webdataset==0.2.33
google-cloud-storage==2.10.0
datasets==2.10.0
lpips
open3d==0.17.0
visu3d==1.4.0
pyspng==0.1.1

lightning==2.0.0
omegaconf==2.3.0
jaxtyping==0.2.12
typeguard==3.0.0
dataclass-array==1.3.0

diffusers==0.16.0
transformers==4.26.1
accelerate
opencv-python==4.7.0.72
tensorboard==2.12.0
matplotlib==3.6.3
imageio==2.28.0
imageio[ffmpeg]
libigl==2.4.1
xatlas==0.0.8
trimesh[easy]==3.19.4
networkx==3.1
pysdf==0.1.9
PyMCubes==0.1.4
wandb==0.13.10
gradio==3.20.0

torchmetrics

xformers
# bitsandbytes
bitsandbytes-cuda116
sentencepiece==0.1.98
safetensors==0.3.0
huggingface_hub==0.13.3

einops
kornia
taming-transformers-rom1504

#controlnet
controlnet_aux

# new additions
gdown
